extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}


        //Todo - Formulario aqui



        //Todo - Listado de Pendientes
        


        //Acciones que se pueden realizar
        .contenedor-acciones
             a(href=`/proyectos/editar/${proyecto.id}` class="boton") Editar Proyecto
             button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto